<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/uploads/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/news.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/home">CHAT APP</a>
      </div>
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right mr-auto" id="reload">
         <li><a href="/latest-football-news" class="nav-link">News</a></li>
          <li><a href="/members"class="nav-link">Members</a></li>
          
          <li class="nav-item dropdown">
            <a class=" nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= user.username %> <span class="caret"></span></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/settings/profile"><i class="fa fa-user"></i> Profile</a>
              <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
            </div>
            </li>
          </%=>
        </ul>
     
    </div>
  </nav>
  
<div class="col-md-12">
   <input type="hidden" id="name-user" value="<%= user.username %>">
   <input type="hidden" id="name-image" value="<%= user.userImage %>">
   
   <div class="col-md-12">
       <h1 class="news-mainhead">
           Latest News
       </h1>
   </div>
   
   <div class="col-md-12 col-sm-12 news-bottom" id="newsResults"></div>
   
   <div class="col-md-12">
      <button id="loadMore" class="btn col-xs-12 n-hide-screen-large">Load More</button>
      
      <p id="top">
          <a href="#top" id="linkTop">Back to top</a>
      </p>
       
   </div>
   
</div>

  
    
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/group/sendrequest.js"></script> 
<script src="/js/home.js"></script>
<script src="/js/global.js"></script>
<script src="/js/news/footballnews.js"></script>
</body>
</html>